@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

:root {
  --blue: #444c6c;
  --sand: #a7837b;
  --adobe: #62342c;
  --white: #d9d9d9;
  --brown: #482c27;
  font: 16px / 1 'Inika', serif;
}

$blue: #444c6c;
$sand: #a7837b;
$adobe: #62342c;
$white: #d9d9d9;
$brown: #482c27;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--sand);
}

.DaysOutList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 2rem;
}

.DayOutList li {
  margin: 1rem;
}

.navbar-burger {
  color: white;
}
.navbar-item {
  color: white;
}

.DaysOutList > * {
  flex: 1 200px;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  font-size: 2rem;
}

.pageHeader input {
  width: 500px;
}
header {
  background-color: $blue;
  display: flex;
  justify-content: center;
  height: 300px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  background-color: $blue;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.navbar > * {
  flex: 1 1 200px;
}

.componentPage {
  background-color: var(--brown);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  color: var(--sand);
  width: 90%;
}

.componentView {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--blue);
  // position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}



.label {
  color: $sand;
  font-size: 1.5rem;
  align-items: center;
}

.newDay {
  background-color: $brown;
  color: $sand;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem
}



.form-error {
  background-color: rgb(87, 18, 18);
  padding: 1.25 rem;
  color: white;
  font-size: 1.25rem;
}

section is-large {
  background-color: white;
}