@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

:root {
  --blue: #444c6c;
  --sand: #a7837b;
  --adobe: #62342c;
  --white: #d9d9d9;
  --brown: #482c27;

  font: 16px / 1 'Inika', serif;
}

$blue: #444c6c;
$sand: #a7837b;
$adobe: #62342c;
$white: #d9d9d9;
$brown: #482c27;

$background: $sand;

$card-content-padding: 1rem;

$card-radius: 1rem;

.card {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--sand);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  background-color: $blue;
}

main {
  background-color: var(--brown);
  font-size: 2rem;
  color: var(--sand);
}

footer {
  background-color: var(--blue);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
